.FormAction {
	display: flex;
	justify-content: center;
	margin-top: 2em;
	margin-bottom: 1em;
}

.ResetPasswordForm {
	padding: 0.5em;
}

.FormControl {
	margin: 1em;
}

.ForgotPasswordBlock {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #264c77;
}

.ResetPasswordTitle {
	margin-top: 1.5em;
	text-align: center;
	font-size: 20px;
}

.ForgotPasswordPaper {
	width: 40vw;
}

.ResetPasswordProgressBlock {
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2em;
	align-items: center;
}

.ResetPasswordSuccessBlock {
	min-height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2em;
	align-items: center;
}
